interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.CLOvnFRJXGNRB9aTuNbvsLqc7syRYb55", "type":
      "Allele", "digest": "CLOvnFRJXGNRB9aTuNbvsLqc7syRYb55", "location": {"id": "ga4gh:SL.lh4dRt_xWPi3wrubcfomi5DkD7fu6wd2",
      "type": "SequenceLocation", "digest": "lh4dRt_xWPi3wrubcfomi5DkD7fu6wd2", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},
      "start": 55181230, "end": 55181230}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "GGCT"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.CLOvnFRJXGNRB9aTuNbvsLqc7syRYb55","digest":"CLOvnFRJXGNRB9aTuNbvsLqc7syRYb55","type":"Allele","location":{"id":"ga4gh:SL.lh4dRt_xWPi3wrubcfomi5DkD7fu6wd2","digest":"lh4dRt_xWPi3wrubcfomi5DkD7fu6wd2","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},"start":55181230,"end":55181230},"state":{"type":"LiteralSequenceExpression","sequence":"GGCT"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:39.027589","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181230_55181231insGGCT"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2KAGLrCYcEPEg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '849'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:39 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - b477df37-bf98-4fca-a9f0-228f4820ebeb
    status:
      code: 200
      message: OK
version: 1
