interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.swY2caCgv1kP6YqKyPlcEzJqTvou15vC", "type":
      "Allele", "digest": "swY2caCgv1kP6YqKyPlcEzJqTvou15vC", "location": {"id": "ga4gh:SL.ikECYncPpE1xh6f_LiComrFGevocjDHQ",
      "type": "SequenceLocation", "digest": "ikECYncPpE1xh6f_LiComrFGevocjDHQ", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},
      "start": 32331082, "end": 32331094}, "state": {"type": "ReferenceLengthExpression",
      "length": 14, "sequence": "TTTTTTTTTTTTTT", "repeatSubunitLength": 2}}, "namespace":
      "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.swY2caCgv1kP6YqKyPlcEzJqTvou15vC","digest":"swY2caCgv1kP6YqKyPlcEzJqTvou15vC","type":"Allele","location":{"id":"ga4gh:SL.ikECYncPpE1xh6f_LiComrFGevocjDHQ","digest":"ikECYncPpE1xh6f_LiComrFGevocjDHQ","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},"start":32331082,"end":32331094},"state":{"type":"ReferenceLengthExpression","length":14,"sequence":"TTTTTTTTTTTTTT","repeatSubunitLength":2}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:41.517714","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32331093_32331094dup"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2KSHnmiYcEBUA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '891'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:41 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 6cb6d748-5c31-4920-b0e7-1d300759cc99
    status:
      code: 200
      message: OK
version: 1
