interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 1262}, "end": {"type":
      "Number", "value": 1263}}}, "state": {"type": "LiteralSequenceExpression", "sequence":
      "T"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"_id":null,"type":"Allele","location":{"_id":null,"type":"SequenceLocation","sequence_id":"ga4gh:SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg","interval":{"type":"SequenceInterval","start":{"type":"Number","value":1262},"end":{"type":"Number","value":1263}}},"state":{"type":"LiteralSequenceExpression","sequence":"T"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.5.0a0","response_datetime":"2022-09-19T13:16:13.747302","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8.1.dev0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_181798.1:n.1263G>T"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - YtXAkEdECYcFopA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '700'
      x-amzn-Remapped-Date:
      - Mon, 19 Sep 2022 13:16:13 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - d20d8014-ec6a-4133-8768-3a61d4e82f0e
    status:
      code: 200
      message: OK
version: 1
