interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 32936731}, "end": {"type":
      "Number", "value": 32936732}}}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "C"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"type":"Allele","location":{"type":"SequenceLocation","sequence_id":"ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT","interval":{"type":"SequenceInterval","start":{"type":"Number","value":32936731},"end":{"type":"Number","value":32936732}}},"state":{"type":"LiteralSequenceExpression","sequence":"C"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.4.0a6","response_datetime":"2022-06-03T15:06:56.560639","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8a0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32936732="]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TJp-nE2tCYcFu9A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '684'
      x-amzn-Remapped-Date:
      - Fri, 03 Jun 2022 15:06:56 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - 6c2dfdc2-f629-44ec-9899-dcff783e2114
    status:
      code: 200
      message: OK
version: 1
