interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.96ak7XdY3DNbp71aHEXw-NHSfeHGW-KT", "type":
      "Allele", "digest": "96ak7XdY3DNbp71aHEXw-NHSfeHGW-KT", "location": {"id": "ga4gh:SL.fwfHu8VaD2-6Qvay9MJSINXPS767RYSw",
      "type": "SequenceLocation", "digest": "fwfHu8VaD2-6Qvay9MJSINXPS767RYSw", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},
      "start": 32316466, "end": 32316467}, "state": {"type": "ReferenceLengthExpression",
      "length": 2, "sequence": "AA", "repeatSubunitLength": 1}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.96ak7XdY3DNbp71aHEXw-NHSfeHGW-KT","digest":"96ak7XdY3DNbp71aHEXw-NHSfeHGW-KT","type":"Allele","location":{"id":"ga4gh:SL.fwfHu8VaD2-6Qvay9MJSINXPS767RYSw","digest":"fwfHu8VaD2-6Qvay9MJSINXPS767RYSw","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},"start":32316466,"end":32316467},"state":{"type":"ReferenceLengthExpression","length":2,"sequence":"AA","repeatSubunitLength":1}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:42.811731","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32316467dup"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2KsFd-iYcElbQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '869'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:42 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - a7cbb9bb-4ce3-45c1-9b6c-9a93ee10e6da
    status:
      code: 200
      message: OK
version: 1
