interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.6WEakVj5V1rTYtbNX8Xqx4bMN4pMA6fh", "type":
      "Allele", "digest": "6WEakVj5V1rTYtbNX8Xqx4bMN4pMA6fh", "location": {"id": "ga4gh:SL.L145KFLJeJ334YnOVm59pPlbdqfHhgXZ",
      "type": "SequenceLocation", "digest": "L145KFLJeJ334YnOVm59pPlbdqfHhgXZ", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ.IIB53T8CNeJJdUqzn9V_JnRtQadwWCbl"},
      "start": 289464, "end": 289466}, "state": {"type": "ReferenceLengthExpression",
      "length": 6, "sequence": "CACACA", "repeatSubunitLength": 2}}, "namespace":
      "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.6WEakVj5V1rTYtbNX8Xqx4bMN4pMA6fh","digest":"6WEakVj5V1rTYtbNX8Xqx4bMN4pMA6fh","type":"Allele","location":{"id":"ga4gh:SL.L145KFLJeJ334YnOVm59pPlbdqfHhgXZ","digest":"L145KFLJeJ334YnOVm59pPlbdqfHhgXZ","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.IIB53T8CNeJJdUqzn9V_JnRtQadwWCbl"},"start":289464,"end":289466},"state":{"type":"ReferenceLengthExpression","length":6,"sequence":"CACACA","repeatSubunitLength":2}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-22T16:07:02.761099","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000019.10:g.289466_289467insCACA"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Ti6eGHBvCYcEGUg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '878'
      x-amzn-Remapped-Date:
      - Thu, 22 Feb 2024 16:07:02 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - c3910297-d5d7-4692-a2b6-f32ce444f100
    status:
      code: 200
      message: OK
version: 1
