interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.GJ2JySBMXePcV2yItyvCfbGBUoawOBON", "type":
      "Allele", "digest": "GJ2JySBMXePcV2yItyvCfbGBUoawOBON", "location": {"id": "ga4gh:SL.28YsnRvD40gKu1x3nev0gRzRz-5OTlpS",
      "type": "SequenceLocation", "digest": "28YsnRvD40gKu1x3nev0gRzRz-5OTlpS", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},
      "start": 32936731, "end": 32936732}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "C"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.GJ2JySBMXePcV2yItyvCfbGBUoawOBON","digest":"GJ2JySBMXePcV2yItyvCfbGBUoawOBON","type":"Allele","location":{"id":"ga4gh:SL.28YsnRvD40gKu1x3nev0gRzRz-5OTlpS","digest":"28YsnRvD40gKu1x3nev0gRzRz-5OTlpS","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},"start":32936731,"end":32936732},"state":{"type":"LiteralSequenceExpression","sequence":"C"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:34.476394","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32936732="]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2JCGIjiYcEAyg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '831'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:34 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 3baa1aec-a3ad-4242-9ec9-891f90569b69
    status:
      code: 200
      message: OK
version: 1
