interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA._KlbF6GZCbuLxbL9z4hZE3oZSLzBHstS", "type":
      "Allele", "location": {"id": "ga4gh:SL.LURTeRdwh5bQf_QqPBoaA--MECYmrY5U", "type":
      "SequenceLocation", "sequenceReference": {"type": "SequenceReference", "refgetAccession":
      "SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"}, "start": 32316466, "end": 32316467},
      "state": {"type": "ReferenceLengthExpression", "length": 2, "sequence": "AA",
      "repeatSubunitLength": 1}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: http://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA._KlbF6GZCbuLxbL9z4hZE3oZSLzBHstS","type":"Allele","location":{"id":"ga4gh:SL.LURTeRdwh5bQf_QqPBoaA--MECYmrY5U","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT"},"start":32316466,"end":32316467},"state":{"type":"ReferenceLengthExpression","length":2,"sequence":"AA","repeatSubunitLength":1}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.0-dev0","response_datetime":"2023-09-18T20:51:04.742513","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0.dev1","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32316467dup"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
