interactions:
  - request:
      body:
        '{"variation": {"id": "ga4gh:VA.iLlJQVkxftWXweu4Ad-2NMShYdxUR1DH", "type":
        "Allele", "location": {"id": "ga4gh:SL.rxnYlIIPfVZCxSGhxdvs_nAWlxQd3nen", "type":
        "SequenceLocation", "sequence_id": "ga4gh:SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg",
        "start": {"type": "Number", "value": 1262}, "end": {"type": "Number", "value":
        1263}}, "state": {"type": "LiteralSequenceExpression", "sequence": "T"}}, "namespace":
        "refseq"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: POST
      uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
    response:
      body:
        string: '{"query":{"variation":{"id":"ga4gh:VA.iLlJQVkxftWXweu4Ad-2NMShYdxUR1DH","type":"Allele","location":{"id":"ga4gh:SL.rxnYlIIPfVZCxSGhxdvs_nAWlxQd3nen","type":"SequenceLocation","sequence_id":"ga4gh:SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg","start":{"type":"Number","value":1262},"end":{"type":"Number","value":1263}},"state":{"type":"LiteralSequenceExpression","sequence":"T"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.7.0-dev8","response_datetime":"2023-07-12T12:27:04.286201","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.9.0a1","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_181798.1:n.1263G>T"]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
