interactions:
  - request:
      body:
        '{"variation": {"id": "ga4gh:VA.RzhTjgnkCmLnaw3IBWnAubZs7eJHhho_", "type":
        "Allele", "location": {"id": "ga4gh:SL.Npx4j5beiNN9GSFTm8Ml6YxrNj_Ghkac", "type":
        "SequenceLocation", "sequence_id": "ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul",
        "start": {"type": "Number", "value": 55181319}, "end": {"type": "Number", "value":
        55181320}}, "state": {"type": "LiteralSequenceExpression", "sequence": "T"}},
        "namespace": "refseq"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: POST
      uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
    response:
      body:
        string: '{"query":{"variation":{"id":"ga4gh:VA.RzhTjgnkCmLnaw3IBWnAubZs7eJHhho_","type":"Allele","location":{"id":"ga4gh:SL.Npx4j5beiNN9GSFTm8Ml6YxrNj_Ghkac","type":"SequenceLocation","sequence_id":"ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul","start":{"type":"Number","value":55181319},"end":{"type":"Number","value":55181320}},"state":{"type":"LiteralSequenceExpression","sequence":"T"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.7.0-dev8","response_datetime":"2023-07-12T12:27:03.715402","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.9.0a1","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181320A>T"]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
