interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.BNV6SfAuqDYKTTRknLcS-QuTryF5rSBi", "type":
      "Allele", "location": {"id": "ga4gh:SL.hnIOG_kul0Lf3mO1ddTRFb0GbQhtQ19t", "type":
      "SequenceLocation", "sequenceReference": {"type": "SequenceReference", "refgetAccession":
      "SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"}, "start": 55181219, "end": 55181220},
      "state": {"type": "ReferenceLengthExpression", "length": 0, "sequence": "",
      "repeatSubunitLength": 1}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: http://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.BNV6SfAuqDYKTTRknLcS-QuTryF5rSBi","type":"Allele","location":{"id":"ga4gh:SL.hnIOG_kul0Lf3mO1ddTRFb0GbQhtQ19t","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},"start":55181219,"end":55181220},"state":{"type":"ReferenceLengthExpression","length":0,"sequence":"","repeatSubunitLength":1}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.0-dev0","response_datetime":"2023-09-18T20:51:04.214099","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0.dev1","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181220del"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
