interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.vSL4aV7mPQKQLX7Jk-PmXN0APs0cBIr9", "type":
      "Allele", "digest": "vSL4aV7mPQKQLX7Jk-PmXN0APs0cBIr9", "location": {"id": "ga4gh:SL.EtvHvoj1Lsq-RruzIzWbKOIAW-bt193w",
      "type": "SequenceLocation", "digest": "EtvHvoj1Lsq-RruzIzWbKOIAW-bt193w", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg"},
      "start": 1262, "end": 1263}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "T"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.vSL4aV7mPQKQLX7Jk-PmXN0APs0cBIr9","digest":"vSL4aV7mPQKQLX7Jk-PmXN0APs0cBIr9","type":"Allele","location":{"id":"ga4gh:SL.EtvHvoj1Lsq-RruzIzWbKOIAW-bt193w","digest":"EtvHvoj1Lsq-RruzIzWbKOIAW-bt193w","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg"},"start":1262,"end":1263},"state":{"type":"LiteralSequenceExpression","sequence":"T"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:45.043414","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_181798.1:c.1263G>T"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2LCF50iYcEOfg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '820'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:45 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 72526368-e8aa-4065-ae96-9841ab70c269
    status:
      code: 200
      message: OK
version: 1
