interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.DPe4AO-S0Yu4wzSCmys7eGn4p4sO0zaC", "type":
      "Allele", "digest": "DPe4AO-S0Yu4wzSCmys7eGn4p4sO0zaC", "location": {"id": "ga4gh:SL.7hcVmPnIspQNDfZKBzRJFc8K9GaJuAlY",
      "type": "SequenceLocation", "digest": "7hcVmPnIspQNDfZKBzRJFc8K9GaJuAlY", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK"},
      "start": 871, "end": 872}, "state": {"type": "LiteralSequenceExpression", "sequence":
      "G"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.DPe4AO-S0Yu4wzSCmys7eGn4p4sO0zaC","digest":"DPe4AO-S0Yu4wzSCmys7eGn4p4sO0zaC","type":"Allele","location":{"id":"ga4gh:SL.7hcVmPnIspQNDfZKBzRJFc8K9GaJuAlY","digest":"7hcVmPnIspQNDfZKBzRJFc8K9GaJuAlY","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK"},"start":871,"end":872},"state":{"type":"LiteralSequenceExpression","sequence":"G"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:43.826000","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_001331029.1:c.872A>G"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2K4FL4CYcEaig=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '820'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:43 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - c0fc1bf6-a75c-4270-ac39-0f9f5d7c5362
    status:
      code: 200
      message: OK
version: 1
