interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 1262}, "end": {"type":
      "Number", "value": 1263}}}, "state": {"type": "LiteralSequenceExpression", "sequence":
      "T"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"type":"Allele","location":{"type":"SequenceLocation","sequence_id":"ga4gh:SQ.KN07u-RFqd1dTyOWOG98HnOq87Nq-ZIg","interval":{"type":"SequenceInterval","start":{"type":"Number","value":1262},"end":{"type":"Number","value":1263}}},"state":{"type":"LiteralSequenceExpression","sequence":"T"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.4.0a6","response_datetime":"2022-06-03T15:06:58.082424","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8a0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_181798.1:n.1263G>T"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TJp-2GOrCYcFaqQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '673'
      x-amzn-Remapped-Date:
      - Fri, 03 Jun 2022 15:06:58 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - e2f85e70-b953-422b-acae-f53dad45bba7
    status:
      code: 200
      message: OK
version: 1
