interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.Hy2XU_-rp4IMh6I_1NXNecBo8Qx8n0oE", "type":
      "Allele", "digest": "Hy2XU_-rp4IMh6I_1NXNecBo8Qx8n0oE", "location": {"id": "ga4gh:SL._G2K0qSioM74l_u3OaKR0mgLYdeTL7Xd",
      "type": "SequenceLocation", "digest": "_G2K0qSioM74l_u3OaKR0mgLYdeTL7Xd", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},
      "start": 55181319, "end": 55181320}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "T"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.Hy2XU_-rp4IMh6I_1NXNecBo8Qx8n0oE","digest":"Hy2XU_-rp4IMh6I_1NXNecBo8Qx8n0oE","type":"Allele","location":{"id":"ga4gh:SL._G2K0qSioM74l_u3OaKR0mgLYdeTL7Xd","digest":"_G2K0qSioM74l_u3OaKR0mgLYdeTL7Xd","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},"start":55181319,"end":55181320},"state":{"type":"LiteralSequenceExpression","sequence":"T"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:35.933872","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181320A>T"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2JlHtrCYcEPYA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '833'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:35 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - ca944a57-6ab7-4b0d-8f4e-10be60b0a51d
    status:
      code: 200
      message: OK
version: 1
