interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul", "start": {"type":
      "Number", "value": 55181219}, "end": {"type": "Number", "value": 55181220}},
      "state": {"type": "LiteralSequenceExpression", "sequence": ""}}, "namespace":
      "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"detail":[{"loc":["body","variation","location","__root__"],"msg":"str
        type expected","type":"type_error.str"},{"loc":["body","variation","location","__root__","type"],"msg":"unexpected
        value; permitted: <VRSTypes.CHROMOSOME_LOCATION: ''ChromosomeLocation''>","type":"value_error.const","ctx":{"given":"SequenceLocation","permitted":["ChromosomeLocation"]}},{"loc":["body","variation","location","__root__","species_id"],"msg":"field
        required","type":"value_error.missing"},{"loc":["body","variation","location","__root__","chr"],"msg":"field
        required","type":"value_error.missing"},{"loc":["body","variation","location","__root__","interval"],"msg":"field
        required","type":"value_error.missing"},{"loc":["body","variation","location","__root__","end"],"msg":"extra
        fields not permitted","type":"value_error.extra"},{"loc":["body","variation","location","__root__","sequence_id"],"msg":"extra
        fields not permitted","type":"value_error.extra"},{"loc":["body","variation","location","__root__","start"],"msg":"extra
        fields not permitted","type":"value_error.extra"},{"loc":["body","variation","location","__root__","interval"],"msg":"field
        required","type":"value_error.missing"},{"loc":["body","variation","location","__root__","end"],"msg":"extra
        fields not permitted","type":"value_error.extra"},{"loc":["body","variation","location","__root__","start"],"msg":"extra
        fields not permitted","type":"value_error.extra"}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - YtnXPHr0CYcF24g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1418'
      x-amzn-Remapped-Date:
      - Mon, 19 Sep 2022 15:07:51 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - a3bbf198-f9e4-43b8-99cc-6a7567bab865
    status:
      code: 422
      message: ''
version: 1
