interactions:
  - request:
      body:
        '{"variation": {"id": "ga4gh:VA.osbbI5Me3Paj5mFN3wsD1RpuHhd0dJsv", "type":
        "Allele", "location": {"id": "ga4gh:SL.b30aH2-4AX1oG2LYmMqpBRRyjcpARlgP", "type":
        "SequenceLocation", "sequence_id": "ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul",
        "start": {"type": "Number", "value": 55181230}, "end": {"type": "Number", "value":
        55181230}}, "state": {"type": "LiteralSequenceExpression", "sequence": "GGCT"}},
        "namespace": "refseq"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: POST
      uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
    response:
      body:
        string: '{"query":{"variation":{"id":"ga4gh:VA.osbbI5Me3Paj5mFN3wsD1RpuHhd0dJsv","type":"Allele","location":{"id":"ga4gh:SL.b30aH2-4AX1oG2LYmMqpBRRyjcpARlgP","type":"SequenceLocation","sequence_id":"ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul","start":{"type":"Number","value":55181230},"end":{"type":"Number","value":55181230}},"state":{"type":"LiteralSequenceExpression","sequence":"GGCT"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.7.0-dev8","response_datetime":"2023-07-12T12:27:03.908646","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.9.0a1","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181230_55181231insGGCT"]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
