interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 55181219}, "end": {"type":
      "Number", "value": 55181220}}}, "state": {"type": "LiteralSequenceExpression",
      "sequence": ""}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"_id":null,"type":"Allele","location":{"_id":null,"type":"SequenceLocation","sequence_id":"ga4gh:SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul","interval":{"type":"SequenceInterval","start":{"type":"Number","value":55181219},"end":{"type":"Number","value":55181220}}},"state":{"type":"LiteralSequenceExpression","sequence":""}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.5.0a0","response_datetime":"2022-09-19T13:16:05.770720","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8.1.dev0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181220del"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - YtW_TEMSCYcFV4g=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '712'
      x-amzn-Remapped-Date:
      - Mon, 19 Sep 2022 13:16:05 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - cd6c4a14-b429-4dc5-b720-48ac54273f48
    status:
      code: 200
      message: OK
version: 1
