interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 32331082}, "end": {"type":
      "Number", "value": 32331094}}}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "TTTTTTTTTTTTTT"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"_id":null,"type":"Allele","location":{"_id":null,"type":"SequenceLocation","sequence_id":"ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT","interval":{"type":"SequenceInterval","start":{"type":"Number","value":32331082},"end":{"type":"Number","value":32331094}}},"state":{"type":"LiteralSequenceExpression","sequence":"TTTTTTTTTTTTTT"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.5.0a0","response_datetime":"2022-09-19T13:16:09.669055","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8.1.dev0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32331093_32331094dup"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - YtW_sFn5iYcF-Ag=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '735'
      x-amzn-Remapped-Date:
      - Mon, 19 Sep 2022 13:16:09 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - 53c15256-3aec-4b57-929b-d70719162487
    status:
      code: 200
      message: OK
version: 1
