interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 32331082}, "end": {"type":
      "Number", "value": 32331094}}}, "state": {"type": "LiteralSequenceExpression",
      "sequence": "TTTTTTTTTTTTTT"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"type":"Allele","location":{"type":"SequenceLocation","sequence_id":"ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT","interval":{"type":"SequenceInterval","start":{"type":"Number","value":32331082},"end":{"type":"Number","value":32331094}}},"state":{"type":"LiteralSequenceExpression","sequence":"TTTTTTTTTTTTTT"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.4.0a6","response_datetime":"2022-06-03T15:06:57.455345","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8a0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32331093_32331094dup"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TJp-wHTnCYcFVjg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '708'
      x-amzn-Remapped-Date:
      - Fri, 03 Jun 2022 15:06:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - 4b9a3136-78fd-453c-a7d5-484bcdf00910
    status:
      code: 200
      message: OK
version: 1
