interactions:
  - request:
      body:
        '{"variation": {"id": "ga4gh:VA.j-Lnf0txP05DFsLJNhH6Fau4lIBok-DI", "type":
        "Allele", "location": {"id": "ga4gh:SL.VFlsGPHaAJB_LsYzQd8t6vTWSGKWiEeB", "type":
        "SequenceLocation", "sequence_id": "ga4gh:SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK",
        "start": {"type": "Number", "value": 871}, "end": {"type": "Number", "value":
        872}}, "state": {"type": "LiteralSequenceExpression", "sequence": "G"}}, "namespace":
        "refseq"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: POST
      uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
    response:
      body:
        string: '{"query":{"variation":{"id":"ga4gh:VA.j-Lnf0txP05DFsLJNhH6Fau4lIBok-DI","type":"Allele","location":{"id":"ga4gh:SL.VFlsGPHaAJB_LsYzQd8t6vTWSGKWiEeB","type":"SequenceLocation","sequence_id":"ga4gh:SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK","start":{"type":"Number","value":871},"end":{"type":"Number","value":872}},"state":{"type":"LiteralSequenceExpression","sequence":"G"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.7.0-dev8","response_datetime":"2023-07-12T12:27:04.189898","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.9.0a1","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_001331029.1:n.872A>G"]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
