interactions:
- request:
    body: '{"variation": {"id": "ga4gh:VA.klRMVChjvV73ZxS9Ajq1Rb8WU-p_HbLu", "type":
      "Allele", "digest": "klRMVChjvV73ZxS9Ajq1Rb8WU-p_HbLu", "location": {"id": "ga4gh:SL.ljan7F0ePe9uiD6f2u80ZG5gDtx9Mr0V",
      "type": "SequenceLocation", "digest": "ljan7F0ePe9uiD6f2u80ZG5gDtx9Mr0V", "sequenceReference":
      {"type": "SequenceReference", "refgetAccession": "SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},
      "start": 55181219, "end": 55181220}, "state": {"type": "ReferenceLengthExpression",
      "length": 0, "sequence": "", "repeatSubunitLength": 1}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"id":"ga4gh:VA.klRMVChjvV73ZxS9Ajq1Rb8WU-p_HbLu","digest":"klRMVChjvV73ZxS9Ajq1Rb8WU-p_HbLu","type":"Allele","location":{"id":"ga4gh:SL.ljan7F0ePe9uiD6f2u80ZG5gDtx9Mr0V","digest":"ljan7F0ePe9uiD6f2u80ZG5gDtx9Mr0V","type":"SequenceLocation","sequenceReference":{"type":"SequenceReference","refgetAccession":"SQ.F-LrLMe1SRpfUZHkQmvkVKFEGaoDeHul"},"start":55181219,"end":55181220},"state":{"type":"ReferenceLengthExpression","length":0,"sequence":"","repeatSubunitLength":1}},"namespace":"refseq"},"warnings":[],"service_meta_":{"name":"variation-normalizer","version":"0.8.1-dev0","response_datetime":"2024-02-19T07:31:37.189090","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"name":"vrs-python","version":"2.0.0a2","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000007.14:g.55181220del"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TX2JzELaiYcEtYA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '867'
      x-amzn-Remapped-Date:
      - Mon, 19 Feb 2024 07:31:37 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 48f4b74e-59f9-43ac-b321-886dc9945d14
    status:
      code: 200
      message: OK
version: 1
