interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 871}, "end": {"type":
      "Number", "value": 872}}}, "state": {"type": "LiteralSequenceExpression", "sequence":
      "G"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"type":"Allele","location":{"type":"SequenceLocation","sequence_id":"ga4gh:SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK","interval":{"type":"SequenceInterval","start":{"type":"Number","value":871},"end":{"type":"Number","value":872}}},"state":{"type":"LiteralSequenceExpression","sequence":"G"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.4.0a6","response_datetime":"2022-06-03T15:06:57.875333","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8a0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_001331029.1:n.872A>G"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - TJp-0HEfCYcFprg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '673'
      x-amzn-Remapped-Date:
      - Fri, 03 Jun 2022 15:06:57 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - 8de0bc8a-f48e-49b5-884f-3c1d86233dc9
    status:
      code: 200
      message: OK
version: 1
