interactions:
- request:
    body: '{"variation": {"type": "Allele", "location": {"type": "SequenceLocation",
      "sequence_id": "ga4gh:SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK", "interval": {"type":
      "SequenceInterval", "start": {"type": "Number", "value": 871}, "end": {"type":
      "Number", "value": 872}}}, "state": {"type": "LiteralSequenceExpression", "sequence":
      "G"}}, "namespace": "refseq"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
  response:
    body:
      string: '{"query":{"variation":{"_id":null,"type":"Allele","location":{"_id":null,"type":"SequenceLocation","sequence_id":"ga4gh:SQ.MBIgVnoHFw34aFqNUVGM0zgjC3d-v8dK","interval":{"type":"SequenceInterval","start":{"type":"Number","value":871},"end":{"type":"Number","value":872}}},"state":{"type":"LiteralSequenceExpression","sequence":"G"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.5.0a0","response_datetime":"2022-09-19T13:16:12.758376","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.8.1.dev0","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NM_001331029.1:n.872A>G"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - YtXAaH2CCYcF7wg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '700'
      x-amzn-Remapped-Date:
      - Mon, 19 Sep 2022 13:16:12 GMT
      x-amzn-Remapped-Server:
      - nginx/1.20.0
      x-amzn-RequestId:
      - 9b4047d1-8095-4115-a394-fe1e46ba2b64
    status:
      code: 200
      message: OK
version: 1
