interactions:
  - request:
      body:
        '{"variation": {"id": "ga4gh:VA.iuDk-UaV63YXoYUJHehin3vFfzfYnz0j", "type":
        "Allele", "location": {"id": "ga4gh:SL.yy5lb3KqJGmLbo5kJ7aGf4aW5Ih5-dI3", "type":
        "SequenceLocation", "sequence_id": "ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT",
        "start": {"type": "Number", "value": 32316466}, "end": {"type": "Number", "value":
        32316467}}, "state": {"type": "LiteralSequenceExpression", "sequence": "AA"}},
        "namespace": "refseq"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: POST
      uri: https://normalize.cancervariants.org/variation/vrs_allele_to_hgvs
    response:
      body:
        string: '{"query":{"variation":{"id":"ga4gh:VA.iuDk-UaV63YXoYUJHehin3vFfzfYnz0j","type":"Allele","location":{"id":"ga4gh:SL.yy5lb3KqJGmLbo5kJ7aGf4aW5Ih5-dI3","type":"SequenceLocation","sequence_id":"ga4gh:SQ._0wi-qoDrvram155UmcSC-zA5ZK4fpLT","start":{"type":"Number","value":32316466},"end":{"type":"Number","value":32316467}},"state":{"type":"LiteralSequenceExpression","sequence":"AA"}},"namespace":"refseq"},"warnings":[],"service_meta_":{"version":"0.7.0-dev8","response_datetime":"2023-07-12T12:27:04.095365","name":"variation-normalizer","url":"https://github.com/cancervariants/variation-normalization"},"vrs_python_meta_":{"version":"0.9.0a1","name":"vrs-python","url":"https://github.com/ga4gh/vrs-python"},"variations":["NC_000013.11:g.32316467dup"]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
