*.bak
*-checkpoint.ipynb
*.egg-info
*.orig
*.pyc
*~
.cache
.coverage
.eggs
.pytest_cache
.tox
__pycache__
archive
build
dist
doc
misc/clinvar
notebooks/scratch/
notes
venv
.vscode/launch.json
lint
uta_*.pgd.gz
.vscode
*.log
.idea