name: Python CQA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update pip and setuptools
      run: |
        python -m pip install --upgrade pip setuptools
    - name: Install dependencies
      run: |
        pip install -e .[dev,extras]
    - name: Pylint static analysis
      run: |
        pylint src/ga4gh/{core,vrs}
    - name: Test with pytest
      run: |
        pytest
